[Unit]
Description=Sasuage Store application server

[Service]
User=jarservice
Environment=REPORT_PATH=/var/www-data/htdocs
Environment=LOG_PATH=/logs
StandardOutput=file:/opt/log/sausage-store-backend.log
StandardError=file:/opt/log/sausage-store-backend-error.log
Restart=always
ExecStart=sudo /usr/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-spring.datasource.url=jdbc:postgresql://rc1b-zpl4km6ny2imb2xf.mdb.yandexcloud.net:6432/std-016-032 \
-spring.datasource.username=std-016-032 \
-spring.datasource.password=Testusr1234 \
-spring.flyway.enabled=false \
-jar '/home/jarservice/sausage-store.jar'
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
Alias=sasuage-store-backend.service